<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="ef" connectionString="Data Source=GH\SQLEXPRESS;Initial Catalog=ef;Persist Security Info=True;User ID=sa;Password=sa"
         providerName="System.Data.SqlClient"/>-->
    <add name="ef" providerName="System.Data.SqlClient"
         connectionString="Data Source=gh\sqlexpress;Initial Catalog=ef;User Id=sa;Password=1024;Persist Security Info=True;"/>
  </connectionStrings>
  <appSettings>
    <!--<add key="DatabaseInitializerForType EF.Dal.Content, EF.Dal" value="Disabled"/>-->
  </appSettings>
</configuration>